Repository soren-n/typeset-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, cargo-test, cargo-audit

fmt:
  name: Rust formatting (cargo fmt)
  description: Format Rust code with cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (cargo clippy)
  description: Lint Rust code with cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Rust testing (cargo test)
  description: Run Rust tests
  entry: cargo test --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: Rust security audit (cargo audit)
  description: Audit Rust dependencies for security vulnerabilities
  entry: cargo audit
  language: system
  pass_filenames: false

fix(build): keep Cargo.lock in sync through releases
  .pre-commit-config.yaml
  Cargo.toml
  pyproject.toml
  src/parser.rs
Due: fmt, clippy, cargo-test, cargo-audit

ci: deduplicate wheel builds and modernize quality checks
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

docs: rewrite for the redesigned API and trim generated context docs
  .readthedocs.yaml
  CLAUDE.md
  README.md
  docs/context/README.md
  docs/context/api-design.md
  docs/context/architecture.md
  docs/context/build-system.md
  docs/context/development-workflow.md
  docs/context/dsl-grammar.md
Due: none

chore: point package metadata at this repository
  Cargo.toml
Due: cargo-audit

chore(release): bump version to 3.0.0
  Cargo.lock
  Cargo.toml
Due: cargo-audit

perf: build layouts lazily to avoid quadratic composition
  docs/context/architecture.md
  src/lib.rs
Due: fmt, clippy, cargo-test, cargo-audit

build: bump typeset to 4.1.0, ship an abi3 wheel, enable release LTO
  CLAUDE.md
  Cargo.lock
  Cargo.toml
Due: cargo-audit

chore(release): bump version to 3.0.1
  Cargo.lock
  Cargo.toml
Due: cargo-audit

ci: format Cargo.toml and bump actions and pre-commit hooks
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.toml
Due: cargo-audit

feat!: bump typeset to 5.0 and build the DSL on its grammar
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/context/architecture.md
  docs/context/dsl-grammar.md
  src/layout.pest
  src/lib.rs
  src/parser.rs
  tests/test_typeset.py
  typeset.pyi
Due: fmt, clippy, cargo-test, cargo-audit

chore: drop the stale CHANGELOG.md; release notes live on GitHub Releases
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
Due: none

chore: prune dead release options, untested classifier and .gitignore
  .gitignore
  README.md
  pyproject.toml
Due: none

fix: compile and free deep layouts in constant native stack
  CLAUDE.md
  docs/context/architecture.md
  src/lib.rs
  src/node.rs
  tests/test_typeset.py
Due: fmt, clippy, cargo-test, cargo-audit

docs: say that no layout is too deep
  README.md
Due: none

chore(release): bump version to 4.0.0
  Cargo.lock
  Cargo.toml
Due: cargo-audit

ci: pin toml-sort so the TOML hook formats the same everywhere
  .pre-commit-config.yaml
  Cargo.toml
  pyproject.toml
Due: cargo-audit

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: (Cargo\.(toml|lock)|\.rs)$
