Repository soren-n/typeset-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for typeset-py
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting
  - repo: local
    hooks:
      - id: fmt
        name: Rust formatting (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: clippy
        name: Rust linting (cargo clippy)
        description: Lint Rust code with cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  # Rust testing
  - repo: local
    hooks:
      - id: cargo-test
        name: Rust testing (cargo test)
        description: Run Rust tests
        entry: cargo test --all-features
        language: system
        files: \.rs$
        pass_filenames: false

  # Security audit
  - repo: local
    hooks:
      - id: cargo-audit
        name: Rust security audit (cargo audit)
        description: Audit Rust dependencies for security vulnerabilities
        entry: cargo audit
        language: system
        files: (Cargo\.(toml|lock)|\.rs)$
        pass_filenames: false

  # Python type checking for .pyi files
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        name: Python type checking (mypy)
        description: Type check Python stub files
        files: \.pyi$
        args: [--strict, --ignore-missing-imports]

  # TOML formatting
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  # Spell checking for documentation
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.0
    hooks:
      - id: typos
        name: Spell checking
        description: Check for typos in documentation
        files: \.(md|txt|rst)$

  # Conventional commit format checking
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict]

feat: Update GitHub Actions to latest v5 versions
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

prepare v2.0.8
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  Cargo.lock
  pyproject.toml
Due: cargo-audit

fix: use dynamic version in pyproject.toml for maturin compatibility
  pyproject.toml
Due: none

feat: update dependencies and GitHub Actions
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  Cargo.toml
Due: cargo-audit

fix: use nightly Rust toolchain and fix CI pre-commit setup
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  Cargo.lock
  pyproject.toml
Due: cargo-audit

fix: remove nightly-only box_patterns feature, use stable Rust
  .github/workflows/CI.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  src/lib.rs
  src/parser.rs
Due: fmt, clippy, cargo-test, cargo-audit

fix: format Cargo.lock and remove inapplicable semver-checks job
  .github/workflows/quality.yml
Due: none

fix: exclude Cargo.lock from pretty-format-toml hook
  .pre-commit-config.yaml
Due: none

chore: update Cargo.lock to latest compatible versions
  Cargo.lock
Due: cargo-audit

fix: install maturin in semantic release job
  .github/workflows/release.yml
Due: none

chore(release): bump version to 2.1.0
  Cargo.toml
  typeset.pyi
Due: cargo-audit

fix: remove x86 (32-bit) Linux target from build matrices
  .github/workflows/CI.yml
  .github/workflows/release.yml
Due: none

fix: remove x86 (32-bit) Linux target from build matrices (#63)
  .github/workflows/CI.yml
  .github/workflows/release.yml
Due: none

chore(release): bump version to 2.1.1
  Cargo.toml
  typeset.pyi
Due: cargo-audit

fix: prevent cargo commands from updating Cargo.lock in pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update Cargo.lock for v2.1.1
  Cargo.lock
Due: cargo-audit

fix: prevent cargo lock updates in pre-commit hooks (#64)
  .pre-commit-config.yaml
  Cargo.lock
Due: cargo-audit

chore(release): bump version to 2.1.2
  Cargo.toml
  typeset.pyi
Due: cargo-audit

fix: use macos-14 runner for x86_64 builds
  .github/workflows/CI.yml
  .github/workflows/release.yml
Due: none

chore: update Cargo.lock for v2.1.2
  Cargo.lock
Due: cargo-audit

fix: use macos-14 runner for x86_64 builds (#65)
  .github/workflows/CI.yml
  .github/workflows/release.yml
  Cargo.lock
Due: cargo-audit

chore(release): bump version to 2.1.3
  Cargo.toml
  typeset.pyi
Due: cargo-audit

chore: group Dependabot updates + auto-merge after CI
  .github/dependabot.yml
Due: none

ci: add Dependabot auto-merge after CI passes
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(ci): sync Cargo.lock with manifest (2.1.2 -> 2.1.3)
  Cargo.lock
Due: cargo-audit

chore(release): bump version to 2.1.4
  Cargo.toml
  typeset.pyi
Due: cargo-audit

fix(ci): drop --locked from clippy/test pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(release): bump version to 2.1.5
  Cargo.toml
  typeset.pyi
Due: cargo-audit

fix(ci): drop redundant Rust pre-commit hooks (clippy/test/audit)
  .pre-commit-config.yaml
Due: none

chore(release): bump version to 2.1.6
  Cargo.toml
  typeset.pyi
Due: cargo-audit

fix(deps): bump pyo3 to 0.29, typeset to 4.0, pest to 2.8.7
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/parser.rs
  typeset.pyi
Due: fmt, clippy, cargo-test, cargo-audit

docs: refresh stale versions and API examples in context docs
  CLAUDE.md
  docs/context/api-design.md
  docs/context/build-system.md
  docs/context/development-workflow.md
Due: none

chore: update pre-commit hooks and drop dead semantic-release config
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(release): bump version to 2.1.7
  Cargo.toml
  typeset.pyi
Due: cargo-audit

test: add Rust parser tests and a Python test suite
  .github/workflows/quality.yml
  Cargo.toml
  pyproject.toml
  src/parser.rs
  tests/test_typeset.py
Due: fmt, clippy, cargo-test, cargo-audit

fix(grammar): match multi-character operators before their prefixes
  src/layout.pest
  src/parser.rs
  tests/test_typeset.py
Due: fmt, clippy, cargo-test, cargo-audit

fix(grammar): allow stacked unary operators
  src/layout.pest
  src/parser.rs
Due: fmt, clippy, cargo-test, cargo-audit

fix(parser): report out-of-range fragment indices instead of panicking
  src/parser.rs
  tests/test_typeset.py
Due: fmt, clippy, cargo-test, cargo-audit

refactor(parser): construct layouts directly in the Pratt callbacks
  Cargo.lock
  Cargo.toml
  src/layout.pest
  src/parser.rs
Due: fmt, clippy, cargo-test, cargo-audit

refactor(api)!: redesign the Python surface around named constructors
  Cargo.lock
  Cargo.toml
  src/lib.rs
  tests/test_typeset.py
  typeset.pyi
Due: fmt, clippy, cargo-test, cargo-audit
